<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.msgshareapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_share"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_share_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.HobbiesActivity"></activity>
        <activity android:name=".activity.SecendActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>